<div class="col-sm-3 col-6 thumb album-thumb border-0">
  <div class="thumb-container justify-content-center row">
    <div class="images-container">
      <% if !album.public %>
        <div class="lock rounded-circle bg-white px-1 py-0 m-1 z-100"
          <img src="https://img.icons8.com/android/24/000000/lock.png" height="12px" width="12px" class="absolute"/>
        </div>
      <% end %>
      <%photo = album.photos.first%>
      <%= image_tag photo.image.thumb.url, {class: "thumb-image img-fluid"} %>
      <%= image_tag photo.image.thumb.url, {class: "thumb-image img-fluid"} %>
      <%= image_tag photo.image.thumb.url, {class: "thumb-image img-fluid"} %>
      <% if (current_user.id.to_i == params.require(:id).to_i )%>
        <%= link_to t('.edit_content'), edit_album_path(id: album.id), {class: "btn rounded-pill btn-sm edit font-size py-0 m-1 text-white"}%>
      <% end %>
    </div>
    <div class="photo-count">
      <div class="content">
        <div class="number"><%= album.photos.size%></div>
        <div class="label"><%= t('.photos')%></div>
      </div>
    </div>
  </div>
  <div class="row text-center justify-content-center pt-3">
    <p name="album title" class="font-size"><%= album.title%></p>
  </div>
</div>
