<div class="container-fluid font">
  <%= render "shared/homebar"%>
  <div class="row bg-grey">
    <div class="col pt-4 align-items-center">
      <div class="row col ml-2">
        <%= link_to t('feed'), feed_path, {class: "btn text-secondary"}%>
      </div>
      <div class="row col ml-2">
        <%= link_to t('discover'), discover_path(content: "photo"), {class: "btn text-color"}%>
      </div>
    </div>
    <div class="col-sm-9 col-12 p-3">
      <div class="col bg-white">
        <div class="row justify-content-center">
          <div class="row m-3 btn-group">
            <%= link_to t('.photo'), discover_path(content: "photo"), {class: "btn rounded-left border chosen", id: "btn-photo"}%>
            <%= link_to t('.album'), discover_path(content: "album"), {class: "btn rounded-left border bg-white", id: "btn-album"}%>
          </div>
        </div>
        <div class="row m-4 justify-content-between font-size">
          <% if @content_type == "photo"%>
            <% @content.each do |content|%>
              <%= render partial: "block_photo", locals: {content: content, content_type: "Photo"}%>
            <% end %>
          <% else %>
            <% @content.each do |content| %>
              <%= render partial: "block_album", locals: {content: content, content_type: "Album"} %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
<!-- MODAL for PHOTO-->
<div id="modal-photo" class="modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header border-0">
        <p class="modal-title font-weight-bold" id="modal-photo-title"></p>
        <button type="button" class="photo-modal-close close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body my-n1 py-0">
        <img src="" class="img" id="modal-photo-body" style="width:100%"/>
        <p id="modal-photo-description" style="font-size:10px" class="pt-2"></p>
      </div>
    </div>
  </div>
</div>
<div id="modal-album" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <p class="modal-title font-weight-bold" id="modal-album-title"></p>
        <button type="button" class="album-modal-close close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body my-n1 py-0">
        <div id="carousel-modal" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">

          </div>
          <a class="carousel-control-prev" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <p id="modal-album-description" style="font-size:10px" class="pt-2"></p>
      </div>
    </div>
  </div>
</div>
<% if @content_type == "album"%>
  <script>
    $("#btn-photo").addClass("bg-white");
    $("#btn-photo").removeClass("chosen");
    $('#btn-album').addClass("chosen");
    $('#btn-album').removeClass("bg-white");
  </script>
<% end %>
