<div class="container-fluid font">
  <%= render "shared/homebar_unauthenticated"%>
  <div class="row bg-grey">
    <div class="col pt-4 align-items-center">
      <div class="row col ml-2">
        <%= link_to I18n.t('feed'), root_unauthenticated_path(content: "photo"), {class: "btn text-color"}%>
      </div>
      <div class="row col ml-2">
        <%= link_to I18n.t('discover'), discover_path(content: "photo"), {class: "btn text-secondary"}%>
      </div>
    </div>
    <div class="col-sm-9 col-12 p-3">
      <div class="col bg-white">
        <div class="row justify-content-center">
          <div class="row m-3 btn-group">
            <%= link_to t('.photo'), root_unauthenticated_path(content: "photo"), {class: "btn rounded-left border chosen", id: "btn-photo"}%>
            <%= link_to t('.album'), root_unauthenticated_path(content: "album"), {class: "btn rounded-left border bg-white", id: "btn-album"}%>
          </div>
        </div>
        <div class="row m-4 justify-content-between font-size">
          <% if @content_type == "photo"%>
            <% @content.each do |content|%>
              <%= render partial: "block_guest_photo", locals: {content: content, content_type: "Photo"}%>
            <% end %>
          <% else %>
            <% @content.each do |content| %>
              <%= render partial: "block_guest_album", locals: {content: content, content_type: "Album"} %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
