<div class="row">
  <div class="col-12 col-sm px-4">
    <div class="form-group-vertical mt-4">
      <%= f.label :title, t('.title')%><br>
      <%= f.text_field :title, {placeholder: "Photo Title", class: "form-control col-11"}%>
    </div>
    <div class="form-group-vertical my-4">
      <%= f.label :public, t('.public_mode')%><br>
      <%= f.select :public, options_for_select([[t('.public'), true],[t('.private'), false]], true), {class: "col-5 custom-select"}%>
    </div>
  </div>
  <div class="col-12 col-sm px-4">
    <div class="form-group-vertical mt-4">
      <%= f.label :description, t('.description')%><br>
      <%= f.text_area :description, {placeholder: "Photo Description", class: "form-control", rows: "5", cols: "80"}%>
    </div>
  </div>
</div>
<div class="row mx-2 my-3">
  <div class="form-group-vertical bg-grey rounded add-photo square-200" >
    <%= image_tag @photo.image.thumb.url%>
  </div>
</div>
