<div class="container-fluid font">
  <%= render "shared/homebar" %>
  <div class="row bg-grey">
    <%= render "shared/feed_discover"%>
    <div class="col-sm-9 col-12 p-3">
      <div class="col bg-white pb-3 mb-5">
        <div class="font-weight-bold border-bottom py-4" style="font-size:20px;"><%= t ('.header')%></div>
        <%= form_for @photo, url: user_photos_path do |f| %>
          <%= render partial: "shared/new_content", locals: {f: f, content: "Photo"}%>
        <% end %>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>
