<div class="container-fluid font">
  <%= render "shared/homebar"%>
  <div class="row bg-grey">
    <%= render "shared/manage"%>
    <div class="col-9 p-3">
      <div class="col bg-white pb-3 mb-5 h-500">
        <div class="font-weight-bold border-bottom pt-4 pb-3 justify-content-between row mx-1 font-size-20">
          <div class="col">
            <%= t('.edit_profile')%>
          </div>
          <div class="col-auto ">
            <%= link_to t('.back'), admin_users_path, {class: "btn chosen"}%>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="row justify-content-center col-sm">
            <%= form_for @user, url: admin_user_path, html: {method: :put, class: "col-sm-8 col-12"} do |f|%>
              <div class="row col-12">
                <div class="col-4"></div>
                <div class="col-8">
                  <div class="row mt-5 mb-3 position-relative col col-sm-6 col-12" name="profile-image">
                    <% if @user.avatar.file.nil?%>
                      <img src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.0-9/116212777_2941769292612649_3417797964556573653_o.png?_nc_cat=107&_nc_sid=09cbfe&_nc_ohc=reSenZfdMa0AX_P62Vw&_nc_ht=scontent.fsgn2-1.fna&oh=b036e28f8182b447d68134f50e3e2fdd&oe=5F746402" alt="profile-image" class="img-fluid rounded"/>
                    <% else %>
                        <%= image_tag @user.avatar.thumb.url, {class: "img-fluid rounded"}%>
                    <% end %>
                    <%= f.file_field :avatar, {class: "btn bg-white text-secondary change"}%>
                  </div>
                </div>
              </div>
              <div class="col-12 row text-color justify-content-center my-2 font-weight-bold">
                <div class="col-4"></div>
                <div class="col-8"><%= t('.info')%></div>
              </div>

              <div class="field form-group row col-12 align-items-center">
                <%= f.label :firstname, t('.firstname'), class: "col-4 text-right" %>
                <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname", placeholder: "First Name", class: "form-control col-8" %>
              </div>

              <div class="field form-group row col-12 align-items-center">
                <%= f.label :lastname, t('.lastname'), class: "col-4 text-right" %>
                <%= f.text_field :lastname, autocomplete: "lastname", placeholder: "Last Name", class: "form-control col-8" %>
              </div>

              <div class="field form-group row col-12 align-items-center">
                <%= f.label :email, t('.email'), class: "col-4 text-right" %>
                <%= f.email_field :email, autocomplete: "email", class:"form-control col-8", placeholder:"someone@example.com" %>
              </div>

              <div class="field form-group row col-12 align-items-center">
                <%= f.label :password, t('.password'), class: "col-4 text-right" %>
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control col-8", placeholder: "New Password" %>
              </div>

              <div class="form-group row col-12">
                <%= f.label :active, t('.active'), class: "col-4 text-right"%>
                <%= f.check_box :active%>
              </div>

              <div class="actions form-group row col">
                <div class="col-4"></div>
                <%= f.submit t('.save'), class: "btn add px-3" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>
